body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text{
    color: white;
    margin-bottom: 15px;
}


.main{
    padding: 20px;
    background-color: black;
    width: 350px;
    border-radius: 10px;
    height: auto;
}

#add{
    color: gray;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    height: 30px;
}
#plus{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background-color: pink;
    color: white;
    border: none;
    font-size: 20px;
}

.task{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(2, 33, 53, 0.962);
    border-radius: 5px;
    height: 35px;
}

.text1{
    color: white;
    margin-left: 10px;
    text-align: left;
    cursor: pointer;
}

.radiobtn {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radiobtn:checked {
    background-color: pink;
    border-color: pink;
    
}

.radiobtn:checked::before {
    content: "";
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-0.6px, -1px);
}

.trash{
    font-size:20px;
    color:red; 
    margin-left: auto; 
    cursor: pointer;
    margin-right: 10px;
}

.cross{
    text-decoration: line-through;
    color: gray;
}

.radiobtn:hover{
    box-shadow: 0px 0px 10px rgba(49, 116, 116, 0.83);
}

.text1:hover + .radiobtn{
    box-shadow: 0px 0px 10px rgba(49, 116, 116, 0.83);
}
